.progress {
    background-color: rgb(233, 236, 239);
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    height: 20px;
    overflow: hidden;
}

.progress-bar {
    background-color: #0d6efd;
    color: #fff;
    height: 100%;
    text-align: center;
    gap: 1;
}

.bars {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.bar {
    background-color: #ccc;
    height: 8px;
}

.bar-contents {
    background-color: green;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition-duration: 2000ms;
    transition-property: transform;
    transition-timing-function: linear;
}

.bar-contents--filled {
    transform: scaleX(1);
}
