form {
    display: flex;
    flex-direction: column;
    border: 2px grey solid;
    padding: 8px 10px;
}

.form-input-container {
    text-align: left;
    margin: 5px 0;
}

label {
    font-weight: bold;
}

input select {
    width: 100px;
    margin: 5px;
}

.wrapper {
    min-width: 350px;
    padding: 10px;
}

.border {
    border: 3px slategray solid;
}

.wrapper--horizontal {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
}

.wrapper--vertical {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
}

.container--vertical {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}
