.header-tabs {
    display: flex;
    flex-direction: column;
}
.header-tabs-list {
    display: flex;
    gap: 8px;
}

.header-tabs-list-item {
    --active-color: #581845;
    background: none;
    border: 1.5px solid #000;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 10px;
    font-weight: 600;
}

.header-tabs-list-item:hover {
    border-color: var(--active-color);
    color: var(--active-color);
}
.header-tabs-list-item--active,
.header-tabs-list-item--active:hover {
    border-color: var(--active-color);
    background-color: var(--active-color);
    color: #fff;
}
