body {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

header,
nav,
main,
aside,
footer {
    padding: 12px;
    text-align: center;
}

header {
    background-color: tomato;
    height: 60px;
    font-weight: bold;
}

.columns {
    display: flex;
    flex-grow: 1;
}

nav {
    background-color: coral;
    flex-shrink: 0;
    width: 150px;
    font-weight: bold;
    text-align: left;
}

main {
    background-color: moccasin;
    flex-grow: 1;
    font-weight: normal;
}

aside {
    background-color: sandybrown;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: left;
}

footer {
    background-color: slategray;
    height: 100px;
    font-weight: bold;
}
