.box {
    outline: 1.5px #222831 solid;
    padding: 15px;
    align-content: center;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    margin: 5px;
}

table {
    border-collapse: collapse;
}

table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}
