.input-dollar {
    position: relative;
}

.input-dollar.left {
    padding-right: 2px;
}

.input-interest-rate {
    position: relative;
}

.input-interest-rate.right {
    padding-left: 2px;
    text-align: end;
}
